# Virtual Environment
virt/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db