{% extends 'base.html' %} {% block content %}
<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
    <h1>Welcome,to our univers!</h1>
{% else %}
    <h1>Login</h1>
<br/>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
            </div>
            <br/>
            {% comment %} <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> {% endcomment %}
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </form>

</div>

{% endif %}
{% endblock %}
