{% extends 'base.html' %} {% block content %}
<div class='col-md-6 offset-md-3'>
<div class="card">
    <h1 class="card-header">{{ customer_record.first_name }} {{ customer_record.last_name }}</h1>
    <div class="card-body">
        <p><strong>Email:</strong> {{ customer_record.email }}</p>
        <p><strong>Phone:</strong> {{ customer_record.phone_number }}</p>
        <p><strong>Address:</strong> {{ customer_record.address }}</p>
        <p><strong>State:</strong> {{ customer_record.state }}</p>
        <p><strong>Created Date:</strong> {{ customer_record.created_at }}</p>
        <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update</a>
    </div>
</div>
<br/>
<a href="{% url 'index' %}" class="btn btn-primary">Back</a>
<div/>
{% endblock %}